<div class="navbar">

    <div class="logo">
        <a routerLink="" id="GameWizard">🛒 Game Wizard</a>
        <span class="country">INDIA</span>
    </div>

    <div class="nav-links">
        <a routerLink="/">Home</a>
        <a routerLink="/console">Gaming Console</a>
        <a routerLink="/games">Games</a>
        <a routerLink="/about">About Us</a>
    </div>

    <div class="auth-links">
        @if(isProfile == false){
        <a routerLink="/login" class="login-btn  ">Login</a>
        <a routerLink="/signup" class="signup-btn  ">Signup</a>
        }
        @else{
        <a routerLink="/profile" class="login-btn">&#128100;Profile</a>
        } @if(isLogin == true)
        {
        <button routerLink="/addtocart" class="login-btn">&#128722;Cart</button>
        }
    </div>



</div>
<hr>





<div class="maindiv">

    <div>
        <h1 style="text-align: center; color: blue;">Power Up Your Console with the Hottest Titles! &#128521;&#128521;
        </h1>
    </div>
    

     <div class="container-1">

        @for(item of allProducts(); track item.gamesId)
        {
        <div class="console-1">
            <div class="img-1">
                <img [src]="item.imageUrl" alt="Images" height="250px" width="250px">
            </div>
            <div class="text-1">

                <p style="font-weight: bold;"> {{item?.name}}</p>
                <p>{{item?.description}}</p>
                @if(isLogin == false)
                {
                <h3>Price : {{item.price}}/-</h3>
                <button class="btn-2" (click)=showLoginAlert()>Add to Cart 🛒</button>
                }
                @else{
                <h3>Price : {{item.price}}/-</h3>
                <button class="btn-2" (click)="addToCart(item)">Add to Cart 🛒</button>
                }
                <h5 style="color: green;">Stock Available Qty : {{item?.stockQty}} left!</h5>
            </div>
        </div>
        }
     </div>   





    </div>


    <footer class="footer">
        <div class="footer-container">

            <div class="footer-section">
                <h2 class="logo">GameWizards</h2>
                <p>Your ultimate destination for the latest gaming consoles in Vashi.</p>
            </div>

            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/consoles">Gaming Consoles</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact</h3>
                <p>📍 Vashi, Navi Mumbai</p>
                <p>📞 +91 98765 43210</p>
                <p>✉ gamewizards@gmail.com</p>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© 2026 GameWizards. All Rights Reserved.</p>
        </div>
    </footer>

    




















